.line {
  width: 250px;
  height: 3px;
  background-color: rgb(44,62,80);
}
.main-div {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(44,62,80);
}

.modal-divs {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.modal-divs div h1 {
  transition: 0.6s;
  opacity: 0;
}


.overlay:hover {
  transition: 0.6s;
  opacity: 0.5;
  cursor: pointer;
}
.h1-modal {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.overlay:hover ~ .h1-modal {
  opacity: 1;
}

.modal-divs div:hover h1 {
  transition: 0.6s;
  opacity: 1;
  color: white;
}

.modal-divs div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px 0 10px;
  height: 288px;
  background-size: contain;
  background-repeat: no-repeat;
}
.overlay {
  top: -10px;
  left: -10px;
  width:400px;
  height:288px;
  position:relative;
  background-color:#000;
  opacity:0;
}
