.line {
  width: 250px;
  height: 3px;
  background-color: rgb(44,62,80);
}
.main-div {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:  rgb(44,62,80);
}

.modal {
  width: 400px;
  height: 288px;
  background-color: green;
  margin: 20px;
}
