.join-div {
  height: 200px;
  padding: 100px 0 100px 0;
  color: rgb(44,62,80);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.join-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
p {
  text-align: left;
}
.line {
  width: 250px;
  height: 3px;
  background-color: rgb(44,62,80);
}
