.modal-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 95%;
  max-width: 750px;
  margin: 0 auto;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #2c3e50;
}
.line {
  width: 250px;
  height: 3px;
  background-color: rgb(44,62,80);
}
.holder {
  display: flex;
  flex-direction: row;
}
.holder p {
  padding: 0 0 0 5px;
}
img {
  width: 100%;
}
#resourceSpan {
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
#resourceSpan p {
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.description {
  margin: 40px 0 40px 0;
  font-size: 20px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.close-btn {
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}
#close {
  width: 85px;
  height: 42px;
  background-color: rgb(149, 165, 166);
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-x:hover {
  cursor: pointer;
}
#close:hover {
  cursor: pointer;
  color: yellow;
}
