<div class="modal-div">
  <div class="top">
    <div routerLink="" class="close-x">
      <h1>X</h1>
    </div>
  </div>
  <div class="title">
    <h1>{{modalToDisplay.overlay}}</h1>
  </div>
  <div class="line">

  </div>
  <img src="../../assets/img/{{modalToDisplay.source}}.png" alt="{{modalToDisplay.overlay}}">
  <div class="description">
    <h4>{{modalToDisplay.description}}</h4>
  </div>
  <div class="info">
    <p>Usage: {{modalToDisplay.usage}}</p>
    <span><p>Resources: </p><p *ngFor="let item of items">{{item}} |</p></span>
  </div>
  <div class="close-btn">

  </div>
</div>
