<div class="modal-div">
  <div class="top">
    <div routerLink="" class="close-x">
      <h1>X</h1>
    </div>
  </div>
  <div class="title">
    <h1>{{(modalToDisplay | async).overlay}}</h1>
  </div>
  <div class="line">

  </div>
  <img src="../../assets/img/{{(modalToDisplay | async).source}}.png" alt="{{(modalToDisplay | async).overlay}}">
  <div class="description">
    <h4>{{(modalToDisplay | async).description}}</h4>
  </div>
  <div class="info">
    <p>Usage: {{(modalToDisplay | async).usage}}</p>
    <span><p>Resources: </p><p *ngFor="let item of items">{{item}} |</p></span>
  </div>
  <div class="close-btn">

  </div>
</div>
