<div class="modal-div">
  <div class="top">
    <div routerLink="" class="close-x">
      <h1>X</h1>
    </div>
  </div>
  <div class="title">
    <h1>{{overlay}}</h1>
    <div class="line">

    </div>
  </div>
  <br>
  <img src="../../assets/img/{{source}}.png" alt="{{overlay}}">
  <div class="description">
    <h4>{{description}}</h4>
  </div>
  <div class="info">
    <p>Usage: {{usage}}</p>
    <div id="resourceSpan"><p>Resources: </p><p *ngFor="let item of items">{{item}} | </p></div>
  </div>
  <div class="close-btn">

  </div>
</div>
