.modal-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.line {
  width: 250px;
  height: 3px;
  background-color: rgb(44,62,80);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.close-x {

}
